<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.optic.tourimsapp">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.WAKE_LOCK" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.TourimsApp">
        <activity android:name=".activities.GuiaTuristicos.HistoryBookingDetailGuiaActivity"></activity>
        <activity android:name=".activities.Turistas.HistoryBookingDetailTuristaActivity" />
        <activity
            android:name=".activities.GuiaTuristicos.HistoryBookingGuiaActivity"
            android:parentActivityName=".activities.GuiaTuristicos.MapGuiaTuristicoActivity" />
        <activity
            android:name=".activities.Turistas.HistoryBookingTuristaActivity"
            android:parentActivityName=".activities.Turistas.MapTuristaActivity" />
        <activity
            android:name=".activities.GuiaTuristicos.ActualizarPerfilGuiaActivity"
            android:parentActivityName=".activities.Turistas.MapTuristaActivity" />
        <activity
            android:name=".activities.Turistas.ActualizarPerfilActivity"
            android:parentActivityName=".activities.Turistas.MapTuristaActivity" />
        <activity android:name=".activities.GuiaTuristicos.NotificationBookingActivity" />
        <activity android:name=".activities.Turistas.CalificacionGuiaActivity" />
        <activity android:name=".activities.GuiaTuristicos.CalificacionTuristaActivity" />
        <activity android:name=".activities.GuiaTuristicos.MapGuiaBookingActivity" />
        <activity android:name=".activities.Turistas.MapTuristaBookingActivity" />

        <receiver
            android:name=".receivers.AcceptReceiver"
            android:enabled="true" />
        <receiver
            android:name=".receivers.CancelReceiver"
            android:enabled="true" />

        <service android:name=".service.MyFirebaseMessagingClient">
            <intent-filter>
                <action android:name="com.google.firebase.MESSAGING_EVENT" />
            </intent-filter>
        </service>

        <activity android:name=".activities.Turistas.RequestGuiaTuristicoActivity" />
        <activity
            android:name=".activities.Turistas.DetailRequestActivity"
            android:parentActivityName=".activities.Turistas.MapTuristaActivity" />
        <activity android:name=".activities.GuiaTuristicos.MapGuiaTuristicoActivity" />
        <activity android:name=".activities.Turistas.MapTuristaActivity" />
        <activity android:name=".activities.GuiaTuristicos.RegisterGuiaTuristicoActivity" />
        <activity
            android:name=".activities.LoginActivity"
            android:parentActivityName=".activities.SelectOptionAuthActivity" />
        <activity
            android:name=".activities.Turistas.RegisterActivity"
            android:parentActivityName=".activities.SelectOptionAuthActivity" />
        <activity
            android:name=".activities.SelectOptionAuthActivity"
            android:parentActivityName=".activities.MainActivity" />
        <activity android:name=".activities.MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <meta-data
            android:name="com.google.android.geo.API_KEY"
            android:value="@string/google_maps_key" />
    </application>

</manifest>